.box{
  height: 100%;
  padding: 15px;
  display: block;
  box-shadow: 1px 1px 15px rgb(80, 79, 79);  
  border-radius: 5px;
}

.box .img{    
    width: 200px;
  
   
}

.boxes{
    width: 80%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}

.box:nth-child(2){
    margin-top: 55px;
}


.box .learnMore{
    cursor: pointer;
    color: rgb(151, 212, 29);
    padding: 5px;
    text-align: center;
 
}